@use 'sass:math';

$global: red;

// @if($global==red) {
//   $global: black;
// }

// .color{
//   color: $global;
// }
// @mixin crearLayout($display, $columnas) {
//   @if($display==grid) {
//     display: grid;
//     grid-template-columns: repeat($columnas, 1fr);
//   }

//   @else if($display==block) {
//     display: block;
//   }

//   @else if($display==inline-block) {
//     display: inline-block;
//   }

//   @else {
//     display: flex;

//     $tamaniColumnas: math.div(100%, $columnas);

//     &>* {
//       width: $tamaniColumnas;
//     }
//   }
// }

// .main {
//   @include crearLayout(grid, 8);
// }

// .hero {
//   @include crearLayout(inline-block, 6)
// }

@mixin elegirColor($numero) {
  @if($numero==1) {
    color: crimson;
  }

  @else if($numero==2) {
    color: steelblue;
  }

  @else if($numero==3) {
    color: teal;
  }

  @else {
    color: black;
  }
}

.main {
  @include elegirColor(2)
}