// $condicional: true;
// @debug $condicional;

// $condicional: false;

// @if($condicional) {
//   .grid {
//     display: grid;
//   }
// }

// @else {
//   .flexbox {
//     display: flex;
//   }
// }

// @debug hola!=mundo;
$display: grid;


.hero {
  @if $display==grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @else {
    display: $display;
  }
}
