// $margins: 1 2 3 4 5 6;

// @each $margin in $margins {
//   .mt-#{$margin} {
//     margin: $margin*1em;
//   }
// }
// -------------------------------------
@use 'sass:list';
// $margins: 10px 9px 8px;
// $nuevaLista: list.append($margins, 7px);

// $paddingsA: 10px 20px;
// $paddingsB: 30px 40px;

// $padding-complete: list.append($paddingsA, $paddingsB);

// .body {
//   margin: $nuevaLista;
//   padding: $padding-complete;
// }

// $colores: red green yellow;
// $offset: top left;
// @debug list.index($colores, steelblue);

// .hero {
//   @if(list.index($offset, top)) {
//     margin-top: auto;
//   }

//   @else {
//     margin-bottom: auto;
//   }
// }

// ------------------------------------------------
$layout: bottom, right;

@mixin definePosition($layout) {
  @if(list.index($layout, top)) {
    background-position: $layout;
  }@else{
    object-fit: $layout;
  }
}

.img{
  @include definePosition($layout);
}