@use "modulos/modulo" as *;
@use "modulos/colores" with ($primary: steelblue,
  $secondary :yellow, );
@use "sass:map";

$textos: (
  'titulo': 4em,
  'subtitulo':3em,
  'parrafo':1em,
  'cta':1.5em
);

$estilosGenerales: map.merge($textos, $colores);
// @include recorrerMap($estilosGenerales);

body {
  color: colores.$primary;
  background-color: colores.$secondary;
}