// .hero {
//   background-color: steelblue;
//   nav {
//     display: flex;
//     li{
//       list-style: none;
//       a{
//         text-decoration: none;
//       }
//     }
//   }

// }

.hero,
.main {
  font-size: 2rem;
  .cta {
    color: #000;
  }
  .title {
    font-size: 4rem;
    span {
      font-weight: bold;
    }
  }
}
