@use "modulos/index" ;

@use "sass:map";

$textos: (
  'titulo': 4em,
  'subtitulo':3em,
  'parrafo':1em,
  'cta':1.5em
);

$estilosGenerales: map.merge($textos, index.$colores);
@include index.recorrerMap($estilosGenerales);

body {
  font-size: index.sumarElementos(5+3);
  color: index.$primary;
}