@use "sass:map";
@use "sass:meta";

$primary: red !default;


$textos: (
  'titulo': 4em,
  'subtitulo':3em,
  'parrafo':1em,
  'cta':1.5em
);

$colores: (
  'primary':#000,
  'secondary':#f00,
  'titulo':steelblue
);

// $estilosGenerales: map.merge($textos, $colores);

@mixin recorrerMap($mapa) {
  @each $clave, $valor in $mapa {
    .#{$clave} {
      @if(meta.type-of($valor)==color) {
        color: $valor;
      }

      @else {
        font-size: $valor;
      }
    }
  }
}

@function sumarElementos($valores...) {
  $suma : 0px;

  @each $valor in $valores {
    $suma: $suma +$valor;
  }

  @return $suma;
}